@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: #FFFFFF;
    padding: 25px 0;
}

.header_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
}

.header_nav_logo {
    max-width: 130px;
}

.header_nav_links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
}

.header_nav_links_link {
    font-weight: 700;
    font-family: Mulish, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color:  #555555;
}

.header_nav_links_link:hover {
    color:  #ff0404;
}

.burger-menu {
    display: none;
}


.section_main {
    width: 100%;
    padding: 40px 0;
    background:  #7AC751;
    opacity: 0.8;
    color:  #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
  }
  
  .split h1 {
    font-size: 26px;
    letter-spacing: 10px;
    text-align: center;
    font-family: "Roboto Flex";
    font-weight: 500;
    font-style: normal;
    font-stretch: 100%;
    line-height: initial;
    font-variation-settings: "opsz" 48, "slnt" 0, "GRAD" 0, "XTRA" 468, "YOPQ" 79,
      "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
    font-optical-sizing: auto;
  }
  
  .split h1 span {
    display: inline-block;
    white-space: break-spaces;
    transition: font-weight 0.2s ease;
    position: relative;
  }
  
  .split h1 span::before,
  .split h1 span::after {
    content: attr(data-char);
    position: absolute;
    left: 0;
    color: transparent;
  }
  
  .split h1 span::after{
    z-index: 2;
    filter: none;
    color: transparent;
     background: linear-gradient(#4dff00, #fff200) 100% 0% / 400% 100%;
     background-clip: text;
  -webkit-background-clip: text;
  }
    
.section_start_button::after {
    content: url('../images/arrow.png');
    padding: 2px;
}

.section_start {
    padding: 60px 0;
}

.modern {
    background-image: url("../images/modern.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 511px;
}

.geometric {
    background-image: url("../images/geometric.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 247px;
}

.minimal {
    background-image: url("../images/minimal.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 247px;
}

.section_start_wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 19px;
    row-gap: 17px;
}

.section_start_card:first-child {
    grid-row: span 2;
}

.section_start_card {
    padding: 52px 0 0 24px;
}

.section_start_text {
    padding-left: 80px;
}

.section_start_title {
    margin-bottom: 10px;
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
    color: #555555;
}

.section_start_price {
    margin-bottom: 13px;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: #7AC751;
}

.section_start_button {
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #757575;
}

.section_start_button:hover {
    color: #ff0404;
}

.section_trending {
    padding: 60px 0;
    position: relative;
}

.section_trending_titles {
    margin-bottom: 73px;
    text-align: center;
}

.section_trending_subtitles {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section_title {
    margin-bottom: 45px;
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
}

.section_trending_subtitle {
    display: inline-block;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #7AC751;
}

.inactive {
    color: #C2C2C2;
}

.section_trending_card_block {
    position: relative;
}

.section_trending_links {
    position: absolute;
    right: 6px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-content: center;
}

.section_trending_link {
    max-height: 38.89px;
    max-width: 38.89px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 33px 0px #00000017;
    padding: 8px;
}

.section_trending_link:hover {
    background-color: #7AC751;
    opacity: 70%;
}


.section_trending_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    column-gap: 30px;
    row-gap: 45px;
}

.section_trending_card {
    position: relative;
}

.section_trending_button_new {
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00B7F1;
    border-bottom-right-radius: 5px;
    padding: 1px 9px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sale {
    background-color:#7AC751;
    position: absolute;
    top: 0px;
    left: 0px;
}

.section_trending_button_new:hover {
    opacity: 50%;
}

.section_trending_card_kind {
    margin-top: 15px;
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #757575;
    opacity: 71%;
}

.section_trending_card_name {
    margin-top: 9px;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #555555;
}

.section_trending_card_prices {
    display: grid;
    grid-template-columns: 25% auto 25%;
    max-width: 100%;
    margin-top: 8px;
    align-items: center
}

.section_card_price {
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #7AC751;
}

.section_card_price_sale {
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #CCCCCC;
    text-decoration: line-through;
}

.section_trending_circles {
    display: flex;
    margin-top: 58px;
    gap: 14px;
    justify-content: center;
}

.section_trending_circle:hover {
    opacity: 50%;
}

.logo_stars {
    display: inline-flex;
}

.section_special {
    padding: 60px 0;
}

.living_room {
    background-image: url("../images/living_room.png");
    background-repeat: no-repeat;
    min-height: 249px;
}

.modern_chair {
    background-image: url("../images/modern_chair.png");
    background-repeat: no-repeat;
    min-height: 249px;
}

.section_special h2{
    text-align: center;
    margin-bottom: 65px;
}

.section_special_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    column-gap: 30px;
}

.section_special_card {
    position: relative;
    max-width: 100%;
    padding: 33px 0 0 22px;
}

.section_special_button {
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00B7F1;
    border-bottom-left-radius: 5px;
    padding: 5px 8px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.section_special_button:hover {
    opacity: 50%;
}

.section_special_text {
    text-align: left;
    max-width: 227px;
}

.section_special_title {
    margin-bottom: 11px;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
}

.section_special_paragraph {
    margin-bottom: 23px;
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
}

.section_card_button {
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #7AC751;
    padding: 7px 10px;
    margin-left: 19px;
    
}

.section_card_button:hover {
    background-color: #b4e699;
}

.section_card-prices {
    display: inline-flex;
    max-width: 100%;
    margin-bottom: 29px;
    gap: 7px;
}

.section_card_icons {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    column-gap: 18px;
}

.footer {
    padding: 48px 0;
}
.footer_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.footer_wrapper_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.footer_wrapper_text a{
    font-weight: 700;
    color: #555555;
}

.footer_wrapper_text a:hover{
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    
    .container {
        max-width: 100%;
    }
                  
    .header_nav_links {
        display: none;
    }
        
    .burger-menu {
        display: inline-flex;
        margin-left: auto;
        width: 50px;
        height: 50px;
    }

    .footer_wrapper_text {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        align-content: center;
        flex-direction: column;
    }
}
    
    
@media screen and (max-width: 575px) {
    .section_special_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        row-gap: 50px;
    }
}    

@media screen and (max-width: 490px) {
    .section_trending_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .section_trending_titles {
        margin-bottom: 25px;
    }

    .section_trending_subtitles {
        gap: 25px;
    }
}

@media screen and (max-width: 400px) {
    .section_start_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


